header {
  margin: -10px auto;
  padding: 0px 120px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.header__container {
  padding: 20px 20px 20px 32px;
  display: flex;
}
.logo {
  margin: 15px 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.logo__sign {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;

  border-radius: 15px;
  background: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
}
.logo__description {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: -3px;
}

.header__navigation__list {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #666;
  display: flex;
  gap: 20px;
}
.header__navigation__list__item {
  padding: 10px 25px 12px;
  align-self: center;
}
.header__navigation__list__item__button {
  background: black;
  padding: 10px 25px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}
