header {
  margin: -10px auto;
  padding: 0px 120px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.header__container {
  padding: 20px 20px 20px 32px;
  display: flex;
}
.header__logo {
  margin: 15px 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.logo__sign {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;

  border-radius: 15px;
  background: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
}
.logo__description {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: -3px;
}

.header__navigation__list {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #666;
  display: flex;
}
.header__navigation__list__item {
  padding: 10px 25px 12px;
  align-self: center;
}
button {
  background: black;
  padding: 10px 25px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}
.section__intro {
  padding: 110px 136px 100px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.section__intro__container {
  padding: 45px 670px 45px 78px;
  position: relative;
}

.section__logo {
  display: flex;
  align-items: center;
}
.section__logo__sign {
  font-size: 30px;
}
.section__logo__description {
  margin-right: 20px;
  font-size: 30px;
  letter-spacing: -3px;
}
.section__intro__title {
  margin: 11px 0px 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
}
.section__intro__info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.section__intro__buttons {
  margin: 20px 0px 10px;
}
.section__intro__picture {
  position: absolute;
  top: 0px;
  left: 690px;
}
.section__intro__picture.-middle {
  position: absolute;
  top: 22px;
  left: 717px;
}

.section__features {
  background-color: black;
  padding: 100px 120px;
}
.section__features__container {
  padding: 0px 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
.section__features__title {
  margin: 0px 457px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__features__info {
  margin: 5px 252px 45px;

  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.section__features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.section__features__block {
  padding: 40px 66px 0px;
  background: #ffffff;
  border-radius: 20px;
  position: relative;
}
.section__features__block__top {
  display: flex;
  justify-content: center;
}
.section__features__block img:nth-child(2) {
  position: absolute;
  top: 55px;
  left: 83px;
}
.section__features__block img:nth-child(3) {
  position: absolute;
  top: 40px;
  left: 66px;
}
.section__features__block__bottom {
  padding: 48px 47px 40px;
  height: 197px;
  background: #f2f2f2;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.section__features__block__title {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #0278ed;
}
.section__features__block__title.-calendar {
  color: #0278ed;
}
.section__features__block__title.-lists {
  color: #ff5437;
}
.section__features__block__title.-varied {
  color: #ff9209;
}
.section__features__block__title.-split {
  color: #e738ce;
}
.section__features__block__title.-uploads {
  color: #00c6df;
}
.section__features__block__title.-focus {
  color: #b25df8;
}
.section__features__block__description {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #222222;
}
.section__statistic {
  background: #ff5437;
  padding: 80px 200px 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.section__statistic__number {
  font-size: 96px;
  line-height: 96px;
}
.section__statistic__number + p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__technology {
  padding: 100px 136px 100px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.section__technology__container {
  padding: 77px 600px 77px 78px;
  position: relative;
}
.section__technology__main {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__technology__title {
  margin: 10px 0px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.section__technology__info {
  padding-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.section__technology__picture {
  position: absolute;
  top: 0px;
  left: 590px;
}
.section__technology__picture.-middle {
  position: absolute;
  top: 22px;
  left: 617px;
}
.section__technology.-speed {
  background: #f2f2f2;
}
.section__technology__container.-speed {
  padding: 77px 78px 77px 600px;
  position: relative;
}
.section__technology.-speed img {
  position: absolute;
  top: 0px;
  left: 100px;
}
.section__technology.-speed img.-middle {
  position: absolute;
  top: 21px;
  left: 128px;
}
