header {
  margin: 10 auto;
  padding: 25px 120px;
  height: 90px;
  left: 0%;
  right: 0%;
  top: -10px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  flex-grow: 1;
}
.logo__sign {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  padding: 10px 5px;
  border-radius: 15px;
  background: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
}
.logo__description {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: -3px;
}

ul {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #666;

  display: flex;
  gap: 20px;
  align-items: center;
}
button {
  background: black;
  width: 172px;
  height: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}
