header {
  margin: -10px auto;
  max-width: 1440px;
  padding: 0px 120px;
  background: #ffffff;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.header__container {
  padding: 20px 20px 20px 32px;
  display: flex;
}
.header__logo {
  margin: 15px 0px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.logo__sign {
  display: block;
  padding: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;

  border-radius: 15px;
  background: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
}
.logo__description {
  display: block;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: -3px;
}
.logo__description:hover {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    134.6deg,
    #d140f8 -3.11%,
    #788ce9 33.98%,
    #37c2de 66.35%,
    #1eccae 98.49%
  );
  cursor: pointer;
}
.header__navigation__list {
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #666;
  display: flex;
}
.header__navigation__list__item > a {
  text-decoration: none;
  color: #666666;
}

.header__navigation__list__item {
  padding: 10px 25px 12px;
  align-self: center;
}
.header__navigation__list__item.-link:hover {
  background-color: rgba(173, 173, 173, 0.26);
  cursor: pointer;
}

button {
  background: black;
  padding: 10px 25px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

button:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}
button a:hover {
  color: black;
  cursor: pointer;
}
main {
  margin: 0px auto;
  max-width: 1440px;
}
.section__intro {
  padding: 110px 136px 100px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.section__intro__container {
  padding: 45px 670px 45px 78px;
  position: relative;
}

.section__logo {
  display: flex;
  align-items: center;
}
.section__logo__sign {
  font-size: 30px;
}
.section__logo__description {
  margin-right: 20px;
  font-size: 30px;
  letter-spacing: -3px;
}
.section__intro__title {
  margin: 11px 0px 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
}
.section__intro__info {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.section__intro__buttons {
  margin: 20px 0px 10px;
}
.section__intro__picture {
  position: absolute;
  top: 0px;
  left: 690px;
  transform: translate(0%, 0%);
}
.section__intro__picture.-middle {
  position: absolute;
  top: 22px;
  left: 717px;
}
.section__intro__phone:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 1s;
  transform: scale(1.1) translate(-50px, -50px);
  cursor: pointer;
}

.section__features {
  background-color: black;
  padding: 100px 120px;
}
.section__features__container {
  padding: 0px 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
.section__features__title {
  margin: 0px 457px;
  color: white;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section__features__info {
  margin: 5px 252px 45px;
  padding: 0px 130px;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.section__features__info__sign:hover {
  transform: rotateX(360deg);
  transition: 2s;
}

.section__features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.section__features__block {
  padding: 40px 66px 0px;
  background: #ffffff;
  border-radius: 20px;
  position: relative;
}
.section__features__block__top {
  display: flex;
  justify-content: center;
}
.section__features__block img:nth-child(2) {
  position: absolute;
  top: 55px;
  left: 83px;
}
.section__features__block img:nth-child(3) {
  position: absolute;
  top: 40px;
  left: 66px;
}
.section__features__block__bottom {
  padding: 48px 47px 40px;
  height: 197px;
  background: #f2f2f2;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.section__features__block__logo {
  position: absolute;
  left: 150px;
  top: 260px;
}
.section__features__block__logo img:hover {
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.section__features__block__title {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #0278ed;
}
.section__features__block__title.-calendar {
  color: #0278ed;
}
.section__features__block__title.-lists {
  color: #ff5437;
}
.section__features__block__title.-varied {
  color: #ff9209;
}
.section__features__block__title.-split {
  color: #e738ce;
}
.section__features__block__title.-uploads {
  color: #00c6df;
}
.section__features__block__title.-focus {
  color: #b25df8;
}
.section__features__block__description {
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #222222;
}
.section__statistic {
  background: #ff5437;
  padding: 80px 200px 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.section__statistic__number {
  font-size: 96px;
  line-height: 96px;
}
.section__statistic__number + p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__technology {
  padding: 100px 136px 100px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.section__technology__container {
  padding: 77px 600px 77px 78px;
  position: relative;
}
.section__technology__main {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__technology__title {
  margin: 10px 0px 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
}
.section__technology__info {
  padding-right: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666666;
}

.section__technology__picture {
  position: absolute;
  top: 0px;
  left: 590px;
}
.section__technology__picture.-middle {
  position: absolute;
  top: 22px;
  left: 617px;
}
.section__technology.-speed {
  background: #f2f2f2;
}
.section__technology__container.-speed {
  padding: 77px 78px 77px 600px;
  position: relative;
}
.section__technology.-speed img {
  position: absolute;
  top: 0px;
  left: 100px;
}
.section__technology.-speed img.-middle {
  position: absolute;
  top: 21px;
  left: 128px;
}
.section__dark {
  background-color: #222222;
  padding: 100px 420px 140px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.section__dark p:first-child {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__dark p {
  font-size: 32px;
  line-height: 36px;
  margin: 5px 0px 14px;
}
.section__dark p:nth-child(3) {
  font-size: 18px;
  line-height: 24px;
  margin: 0px 11px 30px;
}

.section__dark hr {
  background: #e5e5e5;
  height: 2px;
}
.section__dark__logo__switcher {
  margin-top: 33px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.section__dark__logo__switcher p {
  font-size: 18px;
  letter-spacing: 2px;
}
.section__dark__logo__switcher__sun:hover {
  filter: brightness(0) saturate(100%) invert(86%) sepia(56%) saturate(2144%)
    hue-rotate(347deg) brightness(94%) contrast(96%);
  cursor: pointer;
}
.section__dark__logo__switcher__moon:hover {
  filter: brightness(0) saturate(100%) invert(23%) sepia(94%) saturate(3918%)
    hue-rotate(221deg) brightness(94%) contrast(95%);
  cursor: pointer;
}

.section__pricing {
  padding: 100px 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background: #ffffff;
}

.section__pricing__text {
  margin: 0px 300px 40px;
}
.section__pricing__blocks {
  display: flex;
  gap: 20px;
}
.section__pricing__text p:first-child {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__pricing__text p:nth-child(2) {
  font-size: 32px;
  line-height: 36px;
  margin: 5px 0px 14px;
}
.section__pricing__text p:nth-child(3) {
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.section__pricing__blocks div {
  background: #f2f2f2;
  border-radius: 20px;
  padding: 50px 40px;
  width: 33%;
}
.section__pricing__blocks__standart {
  color: #0278ed;
}
.section__pricing__blocks__standart button {
  background-color: #0278ed;
  border-color: #0278ed;
}
.section__pricing__blocks__premium {
  color: #ff5437;
}
.section__pricing__blocks__premium button {
  background-color: #ff5437;
  border-color: #ff5437;
}
.section__pricing__blocks__lifetime {
  color: #ff9209;
}
.section__pricing__blocks__lifetime button {
  background-color: #ff9209;
  border-color: #ff9209;
}
.section__pricing__blocks div p:nth-child(1) {
  font-size: 17px;
  line-height: 24px;
}

.section__pricing__blocks div p:nth-child(2) {
  font-size: 108px;
  line-height: 124px;
  letter-spacing: 8px;
}
.section__pricing__blocks div p:nth-child(3) {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
}
.section__testimonials {
  padding: 100px 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background: #f2f2f2;
}
.section__testimonials__text {
  margin: 0px 300px 40px;
}
.section__testimonials__blocks {
  display: flex;
  gap: 20px;
}
.section__testimonials__text p:first-child {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__testimonials__text p:nth-child(2) {
  font-size: 32px;
  line-height: 36px;
  margin: 5px 0px 14px;
}
.section__testimonials__text p:nth-child(3) {
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.section__testimonials__blocks div {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px 40px;
  width: 33%;
  position: relative;
}
.customer__feedback {
  font-size: 16px;
  line-height: 24px;
  height: 50%;
}
.customer__name {
  margin-top: 30px;
  font-size: 16px;
  line-height: 20px;
  color: #1b1a1a;
}
.customer__company {
  font-size: 14px;
  line-height: 20px;
  color: #1b1a1a;
}
.customer__photo {
  position: absolute;
  left: 75px;
  bottom: 40px;
}
.section__download {
  padding: 100px 120px 140px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  background: #ffffff;
}
.section__download__container p:first-child {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section__download__container p:nth-child(2) {
  font-size: 32px;
  line-height: 36px;
  margin: 5px 0px 14px;
}
.section__download__container p:nth-child(3) {
  font-size: 18px;
  line-height: 24px;
  color: #666666;
}
.section__download button {
  margin: 26px 210px 0px;
  position: relative;
  padding: 13px 17px 10px 62px;
}
.section__download button:hover {
  background-color: #666;
  cursor: pointer;
}
.section__download button span:first-child {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: none;
}
.section__download button span:nth-child(2) {
  font-size: 25px;
  line-height: 30px;
  text-transform: none;
  font-weight: 700;
}
.section__download button img {
  position: absolute;
  left: 15px;
  top: 10px;
}
.section__faq {
  background: #e5e5e5;
  padding: 110px 120px 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
.section__faq__title {
  margin: 0px 584px 40px 16px;
}
.section__faq__title p:first-child {
  font-size: 32px;
  line-height: 36px;
}
.section__faq__title p:nth-child(2) {
  font-size: 15px;
  line-height: 20px;
}
.section__faq__questions {
  margin: 0px 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px 16px;
}
.section__faq__questions div {
  padding: 0px 4px 10px 0px;
  width: 49%;
}
.section__faq__questions div p:first-child {
  font-size: 18px;
  line-height: 28px;
}
.section__faq__questions div p:nth-child(2) {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
}
footer {
  padding: 100px 136px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
.footer__logo {
  margin: 0px 524px 0px;
  position: relative;
}
.footer__logo__sign {
  width: 75px;
  height: 75px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__logo img {
  width: 40px;
  position: absolute;
  top: 20px;
  left: 27px;
}
.footer__logo__sign:hover {
  color: rgba(0, 0, 0, 0);
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer__logo__description {
  font-size: 22px;
}
.footer__social {
  margin: 26px 520px;
  display: flex;
  justify-content: space-between;
}
.footer__rights {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.footer__rights span:nth-child(2n + 1) {
  color: #b1b1b1;
}
